.container{

    width: 45%;
    margin: auto;
    height: 250px;

}
.container>h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Mardoto Black";
    font-size: 20px;
}
.item img{
    width: 95%;
    height: 150px;
    object-fit: cover;
}

@media only screen and (max-width:900px){
    .container{
        width: 90%;
    }
}