.container{
    width: 75%;
    margin: auto;
}
.container>h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Mardoto Black";
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item{
    width: calc(100% / 3 - 2%);
    margin: 1% 0;
    cursor: pointer;
}
.item img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: 0.5s;
}
.item h2{
    font-size: 20px;
    margin-top: 5px;
    font-family: "Mardoto Light";
}
.rowSingle{
    width: 90%;
    margin: auto;
}
.itemOther{
    display: flex;
    width: 70%;
    margin: 20px auto;
}
.itemOther img{
    object-fit: cover;
    width: 120px;
}
.itemOther h2{
    font-size: 18px;
    font-family: Mardoto;
    margin-left: 20px;
}
.newsContentSingle{
    width: 60%;
    line-height: 30px;
    font-family: "Mardoto Light";
}
.newsContentSingle>img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.newsContentSingle h1{
    margin-top: 30px;
    margin-bottom: 30px;
}
.otherNews{
    width: 40%;

}
.otherNews>h2{
    font-family: "Mardoto Light";
    font-size: 20px;
    margin-left: 15%;
    margin-top: 20px;
}
.rowSingle{
    display: flex;
}
@media only screen and (max-width: 950px) {
    .container{
        width: 95%;
    }
    .item{
        width: calc(100% / 2 - 2%);
        margin: 20px auto;
    }
    .rowSingle{
        flex-direction: column;
    }
    .rowSingle>div{
        width: 100%;
    }
}
@media only screen and (max-width: 500px) {
    .item{
        width: 98%;
        margin: 20px auto;
    }
}